node_modules
.idea
package-lock.json
dist
yarn-error.log
.eslintcache
generated
.vscode
.DS_Store
*.traineddata

# resources files
resources/*
!resources/test-files

# yarn
.yarn

tsconfig.tsbuildinfo
/coverage/
reports/

# connect-db dump files
dumps/*
